<div *ngIf="githubInfo" class="github-container">
  <div>
    <a [href]="githubInfo.profilePage" target="blank">
      <i class="fab fa-github"></i>
    </a>
  </div>

  <div class="stats">
    <div class="stat">
      <i class="far fa-user"></i>
      <div>
        <h2>{{githubInfo.followers}}</h2>
        <small>Followers</small>
      </div>
    </div>

    <div class="stat">
      <i class="fas fa-code-branch"></i>
      <div>
        <h2>{{githubInfo.public_repos}}</h2>
        <small>Total Repos</small>
      </div>
    </div>
  </div>
</div>
