$background-color: #252525;
$secondary-background: #2b2b2b;
$tertiary-background: #393939;
$quaternary-background: #232323;

$green: #40c980;
$blue: #007acc;
$black: #1e1e1e;
$light-grey: #929293;
$orange: #c97e5a;
$yellow: #e5e510;
$red: #ff6058;

$javascript: #f7ff00;
$css: #4666FF;
$html: #ff073a;
$fb-blue: #2b568e;
$linkedin-green: #004f63;
$twitter-blue: #11a8cd;
