<h2>Courses</h2>

<article id="courses">
  <section>
    <a href="https://www.udemy.com/100-algorithms-challenge/?couponCode=CODINGGOD">
      <img src="/assets/100-algorithms.jpg" alt="">
    </a>
  </section>

  <section id="front-end-course">
    <a href="https://www.udemy.com/100-front-end-interview-questions-challenge/?couponCode=CODINGGOD">
      <img src="/assets/front-end-course.jpg" alt="">
    </a>
  </section>

  <section>
    <a href="https://www.udemy.com/javascript-360/?couponCode=CODINGGOD10">
      <img src="/assets/javascript-course.jpg" alt="">
    </a>
  </section>
</article>

<app-course-redirect [courses]="courses"></app-course-redirect>
