h2,
h3 {
  color: white;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  padding: 0 25px 10px 25px;
}

h3 {
  margin-bottom: 5px;
}


article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  img {
    width: 100%;
  }
}
