<ng-container *transloco="let text">
  <nav>
    <ul>
      <li routerLink="/" class="home-icon"><img src="/assets/icon-72x72.png" alt="">
        <h3><span class="highlight">Dylan</span>Israel</h3>
      </li>
      <li [routerLink]="" fragment="courses">{{'navigation.courses' | transloco}}</li>
      <li><a href="https://novoresume.com/a/dylansemail310.1">{{text('navigation.resume')}}</a></li>
      <li><a href="https://drive.google.com/open?id=1Cd8VQE1f64zGYYvfDqHpAZaNdp48sA82oW2ZojDOnlA"
          target=blank>{{text('navigation.devfest', {conference: 'DevFest'})}}</a>
      </li>

      <li>
        <div class="g-ytsubscribe" data-channelid="UC5Wi_NYysX-LfcqT3Hq9Faw" data-layout="default" data-count="default">
        </div>
      </li>
    </ul>
  </nav>
</ng-container>
